body {
  font-family: Georgia, sans-serif;
  margin-left: 0px;
  margin-right: 0px;
}

.header {
  background-color: black;
  height: 80px;
  margin: auto;
  padding:  20px;
  text-align:  center;
  width: 100%;

}

h3 {
  font-family: Georgia, sans-serif;
  font-size: 35px;
  color: white;

}

.pad {
  padding: 15px;
  margin: 15px;
  padding-top: 15px;
}

.caption {
  font-size: 14px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px
}

.lowkey {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
}

h4 {
  margin: 5px;
  text-align: center;
}

#date {
  margin: 5px;
  text-align: center;
  font-style: italic;
  font-size: 12px;
}

.headimg {
  margin-top: 15px;
  width: 100%
}

p {
  line-height: 1.5;
  font-size: 18px;
}
a {
  text-decoration: none;
}
.data {
  width: 0; 
  margin: auto;
  display: block;
  min-width: 60% !important; 
  border: none;
  height: 778
  data-external=1;
}
.otherimg {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer {
  background-color: black;
  height: 180px;
  margin: auto;
  padding:  20px;
  text-align:  center;
  width: 100%;
}

.footertext {
  font-size: 14px;
  line-height: 1.5;
  color: white;
}



